:root {
  --serif: "Cormorant Garamond", serif;
  --sans: "Proza Libre", sans-serif;
  --title: "Cormorant SC", serif;
  --dark: #242424;
  --light: #fff;
  --red: #ef6351;
  --teal: #55828b;
}

main {
  height: 885px;
}

.topline {
  margin-top: 80px;
}
.small {
  font-size: 3vw;
  margin: auto 0;
}
.small:hover {
  color: #242424;
}
.big:hover {
  transform: scale(1.1);
}

.bio-col {
  margin: 0px auto;
  height: 500px;
}
.imagecol {
  margin: auto;
  width: auto;
}
.card {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: auto;
  background-color: transparent;
  box-shadow: none;
}
.card:hover {
  opacity: 60%;
  transform: scale(0.98);
  animation: 0.2s;
}
.image-wrap {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
  background-color: transparent;
}
.image-wrap img {
  object-fit: cover;
  overflow: hidden;
  border-radius: inherit;
  display: flex;
}

.bios {
  margin: 0 24px;
  height: 500px;
}
.bio-card {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  /* background-color: rgba(255, 255, 255, 0.1); */
  color: var(--light);
  font-family: var(--sans);
  font-size: 1.5vw;
  padding: 16px;
  margin: 48px auto 24px auto;
  border-radius: 10px;
  width: 80%;
  max-width: 90%;
}
.bio-card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.card-cont {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  main {
    height: 1200px;
  }
  .topline {
    margin: 50px auto 50px auto;
  }
  .imagecol {
    margin: 50px 0 50px 0;
    padding: 0 50px;
  }
  .bios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
  }
  .bio-card {
    width: 100%;
  }
  .bio-col {
    padding-top: 24px;
  }
  .topline h1 {
    font-size: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .big,
  .small {
    padding: 0;
  }
  .small {
    font-size: 4vw;
  }
  .card {
    height: 30vw;
    width: 30vw;
  }
}
@media screen and (min-width: 768px) {
  .bios {
    height: auto;
  }
  .imagecol {
    margin-left: 50px;
  }
  .card {
    width: 100%;
  }
}
@media screen and (min-width: 800px) {
  .bio-card {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1000px) {
}
