:root {
  --serif: "Cormorant Garamond", serif;
  --sans: "Proza Libre", sans-serif;
  --title: "Cormorant SC", serif;
  --dark: #242424;
  --light: #fff;
  --red: #ef6351;
  --teal: #55828b;
}

* {
  margin: 0;
  padding: 0;
}

.card {
  color: var(--light);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 20px;
  max-width: 40%;
  height: auto;
  border-radius: 20px;
}
.bio-card-container {
  margin: 100px auto;
}
.card:hover {
  opacity: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.figure {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img {
  flex: 2;
}

/* card content styling */
.card-content {
  height: auto;
}
.subtitle {
  color: var(--red);
}

/* footer styling */
.footer-link {
  font-size: 2rem;
  margin: 24px;
  color: var(--light);
  text-decoration: none;
  opacity: 50%;
}
.footer-link:hover {
  opacity: 100%;
  color: var(--light);
}

@media screen and (min-width: 767px) {
  .card {
    min-width: 320px;
  }
}
