:root {
  --serif: "Cormorant Garamond", serif;
  --sans: "Proza Libre", sans-serif;
  --dark: #242424;
  --light: #fff;
  --red: #ce5140;
  --teal: #55828b;
}

main {
  height: auto;
  min-height: 100vh;
}

.card {
  opacity: 80%;
}
.card:hover {
  opacity: 100%;
}
.second-img {
  margin: 24px auto;
}

.tabs {
  height: auto;
}

.project-tabs {
  margin-top: 50px;
  color: var(--red);
}
.project-tabs.is-active {
  color: var(--red);
}

.title {
  font-family: var(--serif);
  font-size: 2rem;
}

.media-content a {
  font-weight: 600;
}
.media-content a:hover {
  color: var(--light);
}

.tech {
  text-align: right;
  margin-top: 16px;
  color: var(--dark);
  opacity: 60%;
}

.tabs-with-content {
  color: var(--light);
}
.project-tabs li a {
  color: var(--light);
}
#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}
#tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
}
#tabs-with-content .tab-content.is-active {
  display: block;
}
.project-tabs-hidden li a {
  display: none;
}

@media screen and (max-width: 767px) {
  .project-tabs-hidden li a {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tabs2,
  .project-tabs-hidden {
    height: auto;
  }
  .project-tabs li {
    padding: auto 0;
  }
  .project-tabs li a {
    display: none;
  }

  .tabs2 {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    height: 100px;
  }
}
